@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --main-color: yellowgreen;
    --color-dark: #1d2231;
    --text-grey: #8390A2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;
}

.sidebar_brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #ffffff;
}

    .sidebar_brand span {
        display: inline-block;
        padding-right: 1rem;
    }

.sidebar_menu {
    margin-top: 1rem;
}

    .sidebar_menu li {
        width: 100%;
        margin-bottom: 1.7rem;
        padding-left: 1rem;
    }

    .sidebar_menu a {
        padding-left: 1rem;
        display: block;
        color: #ffffff;
        font-size: 1.1rem;
    }

        .sidebar_menu a.action:hover {
            background: #fff;
            padding-top: 1rem;
            padding-bottom: 1rem;
            color: var(--main-color);
            border-radius: 30px 0px 0px 30px;
        }

        .sidebar_menu a.action1:hover {
            background: #fad946;
            padding-top: 1rem;
            padding-bottom: 1rem;
            color: var(--main-color);
            font-weight: 600;
            border-radius: 30px 0px 0px 30px;
        }

        .sidebar_menu a span:first-child {
            font-size: 1.5rem;
            padding-right: 1rem;
        }

#nav_toggle:checked + .sidebar {
    width: 70px;
}

    #nav_toggle:checked + .sidebar .sidebar_brand,
    #nav_toggle:checked + .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }


        #nav_toggle:checked + .sidebar li a {
            padding-left: 0rem;
        }

            #nav_toggle:checked + .sidebar .sidebar_brand h2 span:last-child,
            #nav_toggle:checked + .sidebar li a span:last-child {
                display: none;
            }

#nav_toggle:checked ~ .main_content {
    margin-left: 70px;
}

    #nav_toggle:checked ~ .main_content header {
        width: calc(100% - 70px);
        left: 70px;
        transition: left 300ms;
    }

.main_content {
    transition: margin-left 300ms;
    margin-left: 345px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: width 300ms;
    background: white;
}

#nav_toggle {
    display: none;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.user_wrapper {
    display: flex;
    align-items: center;
}


    .user_wrapper small {
        display: inline-block;
        color: var(--text-grey);
    }

main {
    margin-top: 85px;
    padding: 0rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}

.cards {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.appointment_list {
    padding-top: 50px;
    padding-bottom: 10px;
    color: var(--color-dark);
}

table {
    border: 1px solid var(--color-dark);
    width: 100%;
    border-radius: 3px;
}

th {
    padding: 20px 10px;
    background-color: var(--main-color);
    color: white;
}

td {
    text-align: center;
    padding: 10px 5px;
}

tr:nth-child(even) {
    background-color: #e1ffd0;
}

tr:nth-child(odd) {
    background-color: #7ccc5c;
}


@media only screen and (max-width: 1200px) {

    .sidebar {
        width: 70px;
    }

        .sidebar .sidebar_brand,
        .sidebar li {
            padding-left: 1rem;
            text-align: center;
        }


            .sidebar li a {
                padding-left: 0rem;
            }

                .sidebar .sidebar_brand h2 span:last-child,
                .sidebar li a span:last-child {
                    display: none;
                }

    .main_content {
        margin-left: 70px;
    }

        .main_content header {
            width: calc(100% - 70px);
            left: 70px;
            transition: left 300ms;
        }
}

/*my code*/
.sidebar_menu a.update {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

.text-title {
    color: green;
    font-family: 'Times New Roman';
    font-size: 30px;
    font-weight: bold;
    transform: translateX(5%);
}

.text {
    color: black;
    font-family: 'Times New Roman';
    font-size: 25px;
    border: none;
    background-color: transparent;
    transform: translateX(12%);
}

.text:focus {
    outline: none;
    width: 60%;
    text-align: center;
    border-bottom: 1px solid yellowgreen;
}

.inputbox {
    box-shadow: 0px 5px 15px yellowgreen;
    width: 60%;
    height: 100px;
    display: flex;
    flex-direction:column;
    justify-content:center;   
}

.error-text {
    color: red;
    font-family: 'Times New Roman';
    transform: translateX(12%);
}

.button {
    background-color: green;
    color: white;
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 20px;
}
