* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}

section .color {
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1) {
    height: 700px;
    width: 700px;
    top: -350px;
    background: #fcd557;
}

section .color:nth-child(2) {
    height: 500px;
    width: 500px;
    bottom: -150px;
    left: 100px;
    background: #fffd87;
}

section .color:nth-child(3) {
    height: 300px;
    width: 300px;
    bottom: 50px;
    right: 100px;
    background: #6afa3e;
}

.box {
    position: relative;
}

.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
    0%, 100% {
        transform: translateY(-40px)
    }

    50% {
        transform: translateY(40px)
    }
}

.box .square:nth-child(1) {
    top: -50px;
    right: -60px;
    height: 100px;
    width: 100px
}

.box .square:nth-child(2) {
    top: 150px;
    left: -100px;
    height: 120px;
    width: 120px;
    z-index: 2;
}

.box .square:nth-child(3) {
    bottom: 50px;
    right: -60px;
    height: 80px;
    width: 80px;
    z-index: 2;
}

.box .square:nth-child(4) {
    bottom: -80px;
    left: 100px;
    height: 50px;
    width: 50px;
}


.box .square:nth-child(5) {
    top: -80px;
    left: 120px;
    height: 60px;
    width: 60px;
}


.container {
    position: relative;
    min-height: 400px;
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 40px;
}

    .form h2 {
        position: relative;
        color: #116400;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 40px;
    }

.form .inputbox {
    width: 100%;
    margin-top: 20px;
}

.form .inputbox input {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.form .inputbox input::placeholder {
    color: #666;
}

.form .inputbox input[type = "submit"] {
    background: #fcd557;
    color: #666;
    max-width: 120px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}

.login {
    margin-top: 5px;
    font-size: 12px;
    color: #666;
}

.login a {
    color: #ff359f;
    font-weight: 600;
}
